# Sensitive Information
keys.txt
*.env
.env

# Python
__pycache__/
*.py[cod]

# Virtual Environments
.venv/
venv/
env/

# IDE & Editor Config
.vscode/
.idea/
*.sublime-*

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Files
join_tables.ipynb
domain_results/
